/* Variable for colors */
$white: #fff;
$black: #000;
$light-black: #17171729;
$dark-blue: #0b3b5d;
$light-blue: #0473aa;
$gray: #80808012;
$red: #ff0033;

// Background color
$bg-primary: $white;

// Text color
$text-primary: $black;
