.indicator {
  @include absolute-position(0, auto, auto, 0);

  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: $black;

  &__img {
    @include absolute-position(50%, auto, auto, 50%);

    width: pxToRem(25px);
    height: pxToRem(25px);
    transform: translate(-50%, -50%);
    border: pxToRem(5px) solid $white;
    animation: spin 2s linear infinite;
    display: inline-block;

    border: {
      top: pxToRem(5px) solid $light-black;
      radius: 50%;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
